{% import "bootstrap/wtf.html" as wtf %} {% extends "base.html" %} {% block title %} {% if add_report %} Thêm báo cáo {% else %} Sửa tên báo cáo {% endif %} {% endblock %} {% block body %}
<div class="content-section">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <div class="center">
                    {% if add_report %}
                    <h1>Thêm báo cáo</h1>
                    {% else %}
                    <h1>Sửa tên báo cáo</h1>
                    {% endif %}
                    <br/> {{ wtf.quick_form(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}